body {
  font-family: Candara;
  background-color: #4fb477;
}

.home-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25em;
  /* background-color: whitesmoke; */
}

.home-nav-header {
  align-items: center;
  justify-content: center;
  margin: 10%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: lightgreen;
  border-radius: 50%;
  height: 20%;
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-header {
  margin: 10%;
  color: white;
  text-decoration: none;
}

/* HOME PAGE */
.home-img {
  height: 100%;
  width: 100%;
}

.seekr-container {
  width: 100em;
}

.seekr-img {
  width: 30%;
}

.home {
  color: white;
}

/* BIO */
img.bodhi {
  border: 5px solid white;
}
