body {
  font-family: sans-serif;
  background-color: #e3ebb0;

  color: #e3ebb0;
}

.navbar-container {
  background-color: pink;
}

div.home {
  background-color: royalblue;
}

.seekr-container {
  width: 100em;
}

.seekr-img {
  width: 30%;
}
